body {
  font-family: 'Gill Sans', sans-serif;
}
.m-centered {
  margin: 0 auto;
}
.flext-start {
  justify-content: flex-start;
}
.card,
.vvcard:hover {
  border-radius: 5px;
}
.pre-img,
.vvcard:hover .prod-img,
.vvicard .prod-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 1s ease;
  transform: translateX(10px);
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-10px);
  opacity: 0;
}
/**/
.slide-fade-u-enter-active {
  transition: all 1s ease;
  transform: translateX(10px);
}
.slide-fade-u-leave-active {
  transition: all 1s ease;
  transform: translateX(10px);
}
.slide-fade-u-enter, .slide-fade-u-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.user-img {
  border-radius: 290486px;
  width: 32px;
  height: 32px;
}
.user-img-inf {
  border-radius: 290486px;
  width: 64px;
  height: 64px;
}
.is-clickable {
  cursor: pointer;
}
.btn-subscribe {
  background: #028300 !important;
  border: #028300 !important;
  color: white !important;
}
.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active {
  background: #027900 !important;
  border: #027900 !important;
}

.btn-fb {
  background: #385a9c !important;
  border: #385a9c !important;
  color: rgb(255, 255, 255) !important;
}
.btn-fb:hover,
.btn-fb:focus,
.btn-fb:active {
  background: #4267b2 !important;
  border: #4267b2 !important;
}

.btn-gl {
  background: #4267b2c2 !important;
  border: #4267b2 !important;
  color: rgb(255, 255, 255) !important;
}
.btn-gl:hover,
.btn-gl:focus,
.btn-gl:active {
  background: #4267b2 !important;
  border: #4267b2 !important;
}
.is-unclickable {
  cursor: default !important;
}
.logout-btn:hover {
  background-color: #004e661a !important;
}
.logout-btn {
  border: none !important;
}
.is-font-size16 {
  font-size: 13.5px !important;
}
.is-flex-self-end {
  align-self: flex-end;
}
.is-flex-self-center {
  align-self: center !important;
}
.is-justify-self-end {
  justify-self: flex-end;
}
.is-flex-self-start {
  align-self: flex-start;
}
.is-col-flex {
  flex-direction: column;
}
.justy-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.underline:hover {
  text-decoration: underline;
}
.is-color-db {
  color: #dbdbdb;
}
.is-color-4a {
  color: #4a4a4a;
}
.badge {
  background-color: #028300;
  border: 2px solid white;
  color: white !important;
  font-weight: 800;
  padding: 0 0.2rem 0 0.2rem;
  width: fit-content;
  height: fit-content;
  border-radius: 290486px;
  position: absolute;
  top: -0.6rem;
  left: 10%;
  font-size: x-small;
}
.is-red {
  color: red !important;
}
.is-color-004e66 {
  color: #004e66 !important;
}
.is-color-028300 {
  color: #028300 !important;
}
.is-color-white {
  color: white !important;
}
.is-color-black {
  color: #4a4a4a;
}
.is-bgcolor-004e66 {
  background-color: #004e66 !important;
}
.is-bgcolor-028300 {
  background-color: #028300 !important;
}
.is-color-004e66-hover:hover,
.is-color-004e66-hover:active {
  color: #004e66 !important;
}
.is-color-028300-hover:hover,
.is-color-028300-hover:active {
  color: #028300 !important;
}
.is-bgcolor-white {
  background-color: white !important;
}
.has-no-border {
  border: none !important;
}
.is-border-radius-5px {
  border-radius: 5px;
}
.fited-width {
  width: fit-content !important;
}
.fited-height {
  height: fit-content !important;
}
.is-white {
  color: white !important;
}
.full-width {
  width: 100% !important;
}
.is-d-centered {
  width: fit-content !important;
  margin: 0 auto !important;
}
.has-a-border {
  border: 1px solid;
}
.has-a-border-bottom {
  border-bottom: 1px solid;
}
.border-color-gray {
  border-color: #d4d4d4 !important;
}
.border-color-dbdb {
  border-color: #dbdbdb !important;
}
.is-bg-red {
  background-color: rgb(247, 56, 56) !important;
}
.is-bg-white {
  background-color: white !important;
}
.has-no-outline,
.has-no-outline:focus,
.has-no-outline:hover,
.has-no-outline:active {
  outline: none !important;
}
.is-green,
.fa-check {
  color: #028300 !important;
}
.has-outline-green:focus,
.has-outline-green:active {
  outline-color: #028300 !important;
  border-color: #028300 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-outline-red:focus,
.has-outline-red:active {
  outline-color: red !important;
  border-color: red !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
